@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.1em; }

footer{
    font-size: 1em; }
    

.bg-color {
    background-color: #009688;
}

.table-color {
    background-color: #e91e63;
}

.place-order {
    background-color: #ffc107;
}